<launch>
	
		<!-- start the robot -->
  <!--<include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
      <arg name="limited" value="true" />
      <arg name="robot_ip" value="169.254.6.80" />
  </include>
  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
      <arg name="limited" value="true" />
  </include>
 
  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="true" />
  </include>-->
 
 
	<!--<include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />-->
 
 
	<!--<include file="$(find easy_handeye)/launch/publish.launch" />-->
 
	<node pkg="tf" type="static_transform_publisher" name="ur5_broadcaster" args=" -0.3634422254733067 -0.6520691528769079 0.8675182456610416 -0.8941473997722545 0.39227689972072916 -0.100808330785048 0.19093701021630496 base camera_link 100" />
</launch>
